nodered/Cronotermostato202508.json
[{"id":"797c1ab8f59de950","type":"tab","label":"Cronotermostato Termosifoni","disabled":false,"info":""},{"id":"36d9f01b580873b0","type":"ui_template","z":"797c1ab8f59de950","group":"edd62308.5b6eb","name":"css etc","order":2,"width":0,"height":0,"format":"<style>\n\n.filled { height: 48px !important;padding: 0 !important; margin: 0 !important;}\n.nr-dashboard-template { padding: 0; margin: 0; background-color:black}\n.rounded { border-radius: 12px 12px 12px 12px;}\n.bigfont { font-size: 18px;}\n.smallfont { font-size: 12px;}\n.thedays { cursor:pointer; vertical-align:bottom; height:48px; }\n.the2px  { background-color: #9E9E9E; height:2px; }\n.theblocks {width:100%; height:0%; background-color:#4CAF50; }\n.greybuttons { background-color:#cecac536 !important; width:48px; border: none;}\n.thetemps { cursor:pointer; font-size:50%; color:#9E9E9E !important; } // Size caratteri temp\n.smallheadings { color:blue; font-size:100%; }\n\n</style>\n\n<script>\nvar current=1;\n\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),50);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":200,"y":180,"wires":[[]]},{"id":"0524b5bb03a50ed1","type":"ui_template","z":"797c1ab8f59de950","group":"edd62308.5b6eb","name":"Settings page","order":1,"width":"0","height":"0","format":"<script>\nvar thedays=[\"DOMENICA\",\"LUNEDI\",\"MARTEDI\",\"MERCOLEDI\",\"GIOVEDI\",\"VENERDI\",\"SABATO\"];\nvar ID = \"AA\";\n\nvar last=29;\n\nfunction bar(mm,val)\n{\nif (val==14) { $(mm).height(\"12%\"); $(mm).css('background-color', '#1E88E5'); } //blue\nif (val==15) { $(mm).height(\"16%\"); $(mm).css('background-color', '#039BE5'); }\nif (val==16) { $(mm).height(\"20%\"); $(mm).css('background-color', '#00ACC1'); } \nif (val==17) { $(mm).height(\"24%\"); $(mm).css('background-color', '#039BE5'); } // cyan\nif (val==18) { $(mm).height(\"28%\"); $(mm).css('background-color', '#00ACC1'); }\nif (val==19) { $(mm).height(\"32%\"); $(mm).css('background-color', '#00897B'); } \nif (val==19.5) { $(mm).height(\"34%\"); $(mm).css('background-color', '#00897B'); }\nif (val==20) { $(mm).height(\"36%\"); $(mm).css('background-color', '#388E3C'); } // green\nif (val==20.5) { $(mm).height(\"38%\"); $(mm).css('background-color', '#388E3C'); }\nif (val==21) { $(mm).height(\"40%\"); $(mm).css('background-color', '#689F38'); }\nif (val==21.5) { $(mm).height(\"42%\"); $(mm).css('background-color', '#689F38'); }\nif (val==22) { $(mm).height(\"44%\"); $(mm).css('background-color', '#C0CA33'); }\nif (val==23) { $(mm).height(\"48%\"); $(mm).css('background-color', '#FDD835'); } // yellow\nif (val==24) { $(mm).height(\"52%\"); $(mm).css('background-color', '#FBC02D'); }\nif (val==25) { $(mm).height(\"56%\"); $(mm).css('background-color', '#FFA000'); }\nif (val==26) { $(mm).height(\"60%\"); $(mm).css('background-color', '#E64A19'); } // red\n    \n}\n\nfunction stat(text)\n{\n$(\"#info\"+ID).text(text);\nvar tm=setTimeout(function(){ $(\"#info\"+ID).text(\"Ok\"); clearTimeout(tm);}, 5000); //Tempo permanenza selezione\n}\n\nfunction selec(val,sta)\n{\nvar w=\"#td\"+val+ID;\n if (sta) $(w).css('background-color','#4CAF50'); else $(w).css('background-color','#FFC107');\n}\n\n    (function(scope){\n        scope.ID = ID;\n        scope.send({payload: '29'})\n        scope.$watch('msg', function(msg) {\n            selec(last,0); last=msg.selector; selec(last,1);\n            for (var x=0; x<24; x++) \n                { \n                    var w=\"#t\"+x+ID; bar(w,msg.timing[((msg.days-1)*24)+x]); \n                    var v=\"#v\"+x+ID; $(v).text(msg.timing[((msg.days-1)*24)+x]+\"°\")\n                } \n            for (var x=0; x<2; x++) { var w=\"#s\"+x+ID; $(w).text(msg.timing[168+x]); }\n             $(\"#d0\"+ID).text(thedays[msg.days-1]);\n             if ((last>4) &&(last<29))\n                 $(\"#current\"+ID).text(msg.timing[((msg.days-1)*24)+last-5] + \"°\");\n             else\n                 $(\"#current\"+ID).text(\"-\");\n                 \n            if (msg.foryou!=\"\") { stat(msg.foryou);  }\n            \n             \n        });\n \n    })(scope);\n      \n\n</script>\n<table width=\"100%\">\n    \n    <tr>\n        <td colspan=24><center><span class=\"smallheadings\" style=\"color:red\" >Giorno</span></center></td>\n     <!--   <td colspan=3><center><span class=\"smallheadings\">Clima AUTO</span></center></td>\n        <td colspan=3><center><span class=\"smallheadings\">Fuori casa</span></center></td> -->\n    </tr>\n   \n    <tr>\n        <td ng-click=\"send({payload: '29'})\" colspan=24><center><span id=\"{{ 'd0' + ID }}\" style=\"cursor:pointer;color:red;font-size:120%\">LUNEDI</span></center></td>\n     <!--   <td ng-click=\"send({payload: '1'})\" colspan=3><center><span id=\"s0\" style=\"color:blue;font-size:120%\">14</span></center></td>\n        <td ng-click=\"send({payload: '2'})\" colspan=3><center><span id=\"s1\" style=\"color:blue;font-size:120%\">20</span></center></td> -->\n    </tr>\n    \n    <tr style=\"height:2px\">\n        <td id=\"{{ 'td29' + ID }}\" colspan=24 style=\"background-color:#9E9E9E;height:2px;\"></td> \n     <!--   <td id=\"td1\" colspan=3 style=\"background-color:#9E9E9E;height:2px;\"></td>\n        <td id=\"td2\" colspan=3 style=\"background-color:#9E9E9E;height:2px;\"></td> -->\n    </tr>  \n\n    <tr>\n        <td ng-click=\"send({payload: '5'})\" class=\"thedays\"><span id=\"{{ 'v0' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't0' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '6'})\" class=\"thedays\"><span id=\"{{ 'v1' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't1' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '7'})\" class=\"thedays\"><span id=\"{{ 'v2' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't2' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '8'})\" class=\"thedays\"><span id=\"{{ 'v3' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't3' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '9'})\" class=\"thedays\"><span id=\"{{ 'v4' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't4' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '10'})\" class=\"thedays\"><span id=\"{{ 'v5' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't5' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '11'})\" class=\"thedays\"><span id=\"{{ 'v6' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't6' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '12'})\" class=\"thedays\"><span id=\"{{ 'v7' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't7' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '13'})\" class=\"thedays\"><span id=\"{{ 'v8' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't8' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '14'})\" class=\"thedays\"><span id=\"{{ 'v9' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't9' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '15'})\" class=\"thedays\"><span id=\"{{ 'v10' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't10' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '16'})\" class=\"thedays\"><span id=\"{{ 'v11' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't11' + ID }}\" class=\"theblocks\"></div></td>\n    </tr>  \n    \n    <tr style=\"height:2px\">\n        <td id=\"{{ 'td5' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td6' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td7' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td8' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td9' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td10' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td11' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td12' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td13' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td14' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td15' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td16' + ID }}\" class=\"the2px\"></td>\n    </tr>   \n    \n    <tr>\n        <td align=\"center\">0</td>\n        <td align=\"center\">1</td>\n        <td align=\"center\">2</td>\n        <td align=\"center\">3</td>\n        <td align=\"center\">4</td>\n        <td align=\"center\">5</td>\n        <td align=\"center\">6</td>\n        <td align=\"center\">7</td>\n        <td align=\"center\">8</td>\n        <td align=\"center\">9</td>\n        <td align=\"center\">10</td>\n        <td align=\"center\">11</td>\n    </tr> \n    \n    <tr>\n        <td ng-click=\"send({payload: '17'})\" class=\"thedays\"><span id=\"{{ 'v12' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't12' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '18'})\" class=\"thedays\"><span id=\"{{ 'v13' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't13' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '19'})\" class=\"thedays\"><span id=\"{{ 'v14' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't14' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '20'})\" class=\"thedays\"><span id=\"{{ 'v15' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't15' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '21'})\" class=\"thedays\"><span id=\"{{ 'v16' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't16' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '22'})\" class=\"thedays\"><span id=\"{{ 'v17' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't17' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '23'})\" class=\"thedays\"><span id=\"{{ 'v18' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't18' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '24'})\" class=\"thedays\"><span id=\"{{ 'v19' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't19' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '25'})\" class=\"thedays\"><span id=\"{{ 'v20' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't20' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '26'})\" class=\"thedays\"><span id=\"{{ 'v21' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't21' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '27'})\" class=\"thedays\"><span id=\"{{ 'v22' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't22' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '28'})\" class=\"thedays\"><span id=\"{{ 'v23' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't23' + ID }}\" class=\"theblocks\"></div></td>\n    </tr>  \n    \n    <tr style=\"height:2px\">\n        <td id=\"{{ 'td17' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td18' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td19' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td20' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td21' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td22' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td23' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td24' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td25' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td26' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td27' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td28' + ID }}\" class=\"the2px\"></td>\n    </tr>  \n    \n    <tr>\n        <td align=\"center\">12</td>\n        <td align=\"center\">13</td>\n        <td align=\"center\">14</td>\n        <td align=\"center\">15</td>\n        <td align=\"center\">16</td>\n        <td align=\"center\">17</td>\n        <td align=\"center\">18</td>\n        <td align=\"center\">19</td>\n        <td align=\"center\">20</td>\n        <td align=\"center\">21</td>\n        <td align=\"center\">22</td>\n        <td align=\"center\">23</td>\n    </tr> \n    \n    <tr height=\"20px\">\n        <td colspan=2 class=\"smallheadings\" style=\"color:red\">Azioni:</td>\n\n        <td colspan=10 ><center><span id=\"{{ 'info' + ID }}\" class=\"smallheadings\" style=\"color:red\" ></span></center></td>\n\n    </tr>\n    \n    <tr height=\"10px\">\n        <td colspan=\"12\"></td>\n    </tr>\n\n    <tr style=\"height:48px\">\n        <td colspan=2>\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'd'})\"> \n               <ng-md-icon style=\"color: #fff;\" icon=\"keyboard_arrow_down\">\n                    <md-tooltip md-direction=\"bottom\">DECREMENTA</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n        \n        <td colspan=2><center><span id=\"{{ 'current' + ID }}\" style=\"color:red;font-size:120%\">-</span></center></td>\n\n        <td colspan=2>\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'u'})\"> \n               <ng-md-icon style=\"color: #fff;\" icon=\"keyboard_arrow_up\">\n                    <md-tooltip md-direction=\"bottom\">INCREMENTA</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n\n        <td colspan=2>\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'r'})\"> \n               <ng-md-icon style=\"color: #fff;\" icon=\"content_copy\">\n                    <md-tooltip md-direction=\"bottom\">COPIA</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n\n\n        <td colspan=2>\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 's'})\"> \n                 <ng-md-icon style=\"color: #fff;\" icon=\"save\">\n                    <md-tooltip md-direction=\"bottom\">SALVA</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n\n        <td colspan=2>\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\"  ng-click=\"send({payload: 'c'})\"> \n                 <ng-md-icon style=\"color: #fff;\" icon=\"cancel\">\n                    <md-tooltip md-direction=\"bottom\">ANNULLA</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n        <td colspan=1></td>\n    </tr>\n\n</table>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":480,"y":140,"wires":[["eea84621da24bc47"]]},{"id":"eea84621da24bc47","type":"function","z":"797c1ab8f59de950","name":"Process controls","func":"if ( typeof context.days == 'undefined' ) context.days=1;\nif ( typeof context.selector == 'undefined' ) context.selector=29;\nif ( typeof context.saving == 'undefined' ) context.saving=1;\nif (typeof context.global.timing == 'undefined') {\n    context.global.timing=[\n        18,18,18,18,18,18,18,18,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n        6,14\n    ];\n        context.saving=1;                 \n}\nvar timing = context.global.timing;\n\nswitch (msg.payload)\n    {\n    case \"u\" :  if ((context.selector>1)&&(context.selector<29))\n                {\n                   timing[((context.days-1)*24)+(context.selector-5)] += 0.5; \n                    if (timing[((context.days-1)*24)+context.selector-5]>26){ timing[((context.days-1)*24)+context.selector-5]=26; msg.foryou=\"Limite raggiunto\";}\n                    else msg.foryou=\"Temperatura aumentata\";\n                }\n                if (context.selector==1) { if (timing[168+(context.selector-1)]<26) {  timing[168+(context.selector-1)]++; msg.foryou=\"Temperatura clima aumentata di 1°C\"; } else msg.foryou=\"Limite raggiunto\"; }\n                if (context.selector==2) { if (timing[169+(context.selector-1)]<26) {  timing[169+(context.selector-1)]++; msg.foryou=\"Temperatura fuori casa aumentata di 1°C\"; } else msg.foryou=\"Limite raggiunto\"; }\n                if (context.selector==29) { msg.foryou=\"Giorno successivo\"; context.days++; if (context.days>7) { context.days = 1; } }\n                break;\n    case \"d\" :  if ((context.selector>1)&&(context.selector<29))\n                {\n                    timing[((context.days-1)*24)+context.selector-5] -= 0.5; \n                    if (timing[((context.days-1)*24)+context.selector-5]<17){ timing[((context.days-1)*24)+context.selector-5]=17; msg.foryou=\"Limite raggiunto\";}\n                    else msg.foryou=\"Temperatura decrementata\";\n                }\n                if (context.selector==1) { if (timing[168+(context.selector-1)]>12) { timing[168+(context.selector-1)]--; msg.foryou=\"Temperatura clima diminuita di 1°C\"; } else msg.foryou=\"Limite raggiunto\"; }\n                if (context.selector==2) { if (timing[169+(context.selector-1)]>12) { timing[169+(context.selector-1)]--; msg.foryou=\"Temperatura fuori casa diminuita di 1°C\"; } else msg.foryou=\"Limite raggiunto\"; }\n                if (context.selector==29) {  msg.foryou=\"Giorno precedente\";  context.days--; if (context.days < 1) { context.days = 7;  } }\n                break;\n    case 'r' :  if ((context.selector>=5)&&(context.selector<28))\n                        {\n                         timing[((context.days-1)*24)+context.selector-4]=timing[((context.days-1)*24)+context.selector-5];   \n                         context.selector++;\n                         msg.foryou=\"Temperatura copiata nello slot successivo\";\n                        }\n                if ((context.selector==29)&&(context.days<7))\n                        {\n                         for (var a=0;a<24;a++)\n                            {\n                             timing[((context.days)*24)+a]=timing[((context.days-1)*24)+a];   \n                            }\n                         context.days++;\n                         msg.foryou=\"Impostazioni copiate nel giorno successivo\";\n                        }\n                        else if(context.days==7)\n                            msg.foryou=\"Fine della settimana raggiunto!\";\n                break;\n    case 's': context.saving=0;  msg.foryou=\"Impostazioni salvate\"; break;\n    case '1':\n    case '2':\n    case '3':\n    case '4':\n    case '5':\n    case '6':\n    case '7':\n    case '8':\n    case '9':\n    case '10':\n    case '11':\n    case '12':\n    case '13':\n    case '14':\n    case '15':\n    case '16':\n    case '17':\n    case '18':\n    case '19':\n    case '20':\n    case '21':\n    case '22':\n    case '23':\n    case '24':\n    case '25':\n    case '26':\n    case '27':\n    case '28':\n    case '29': context.selector=parseInt(msg.payload);\n               if (msg.payload=='1') msg.foryou=\"Temperatura clima selezionata\"; \n               else if (msg.payload=='2') msg.foryou=\"Temperatura fuori casa selezionata\";\n               else if (msg.payload=='29') msg.foryou=\"Giorno selezionato\";\n               else  msg.foryou=\"Regolazione temperatura ore: \" + (parseInt(msg.payload)-5);\n    break;\n    case 'c' : msg.payload=\"niente\";  msg.foryou=\"Cambiamenti annullati\"; node.send([null,null,msg]);\n    }\n\nmsg.temperatures=context.temperatures;\nmsg.timing=timing;\nmsg.days=context.days;\nmsg.selector=context.selector;\n\nnode.send([msg,null,null]);\n\nif (context.saving===0) \n    { \n       msg.topic=\"\";\n        msg.timing=\"\";\n        msg.payload=JSON.stringify(timing);\n        node.send([null,msg,null]); \n        context.saving=1;\n    }\n    msg.foryou=\"\"","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":703,"y":192,"wires":[["c62584344beedb79"],["fc9c3537e962225f"],["4e76348501b0de5d"]]},{"id":"7338b30514606b09","type":"inject","z":"797c1ab8f59de950","name":"Once only","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":390,"y":240,"wires":[["eea84621da24bc47","838ae97e5275745f"]]},{"id":"fc9c3537e962225f","type":"file","z":"797c1ab8f59de950","name":"backup","filename":"/etc/openhab/nodered/data/scheduler.log","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":960,"y":180,"wires":[[]]},{"id":"838ae97e5275745f","type":"file in","z":"797c1ab8f59de950","name":"Restore","filename":"/etc/openhab/nodered/data/scheduler.log","filenameType":"str","format":"utf8","sendError":true,"encoding":"none","allProps":false,"x":700,"y":280,"wires":[["38c8eec1b4c6f79d"]]},{"id":"38c8eec1b4c6f79d","type":"function","z":"797c1ab8f59de950","name":"Restore data from SD","func":"context.global.timing=JSON.parse(msg.payload);\nmsg.payload = context.global.timing;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":280,"wires":[["84fd75c9bac70a02"]]},{"id":"f95517a76f48b04e","type":"link in","z":"797c1ab8f59de950","name":"restoreSD","links":["84fd75c9bac70a02"],"x":541,"y":192,"wires":[["eea84621da24bc47"]]},{"id":"84fd75c9bac70a02","type":"link out","z":"797c1ab8f59de950","name":"restoreSD","links":["f95517a76f48b04e"],"x":1055,"y":280,"wires":[]},{"id":"c62584344beedb79","type":"link out","z":"797c1ab8f59de950","name":"setSettings","links":["187d6e6873b932a3"],"x":855,"y":140,"wires":[]},{"id":"187d6e6873b932a3","type":"link in","z":"797c1ab8f59de950","name":"setSettings","links":["c62584344beedb79"],"x":347.5,"y":140,"wires":[["0524b5bb03a50ed1"]]},{"id":"15f74d7772f29ce4","type":"comment","z":"797c1ab8f59de950","name":"EDIT","info":"https://flows.nodered.org/flow/65f411e9e37745a4bbeef5926d052c97\n\nSettings page:\n-thedays2\n-ID2\n-last2\n-bar2\n-stat2\n-selec2\n\nProcess controls\n-days2\n-selector2\n-saving2\n-timing2\n-temperatures2\n\nRestore data from SD\n-timing2\n\nProcess heat\n-timing2\n\nBackup/Restore File read\nchange name of the file .log","x":150,"y":40,"wires":[]},{"id":"df2e4c078e2b8860","type":"ui_text","z":"797c1ab8f59de950","group":"edd62308.5b6eb","order":4,"width":2,"height":1,"name":"Stato:","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":970,"y":400,"wires":[]},{"id":"2a15bc2e698c853f","type":"ui_chart","z":"797c1ab8f59de950","name":"Chart","group":"edd62308.5b6eb","order":7,"width":6,"height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":630,"y":1000,"wires":[[]]},{"id":"7e7d2fd1f829e36a","type":"ui_text","z":"797c1ab8f59de950","group":"edd62308.5b6eb","order":5,"width":2,"height":1,"name":"SetPoint:","label":"","format":"{{msg.payload| number:1}} °C","layout":"row-right","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":900,"y":1160,"wires":[]},{"id":"ac5097ef55cd6009","type":"inject","z":"797c1ab8f59de950","name":"","repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"Started!","payloadType":"str","x":160,"y":520,"wires":[["719ff8c63fd154ae"]]},{"id":"719ff8c63fd154ae","type":"function","z":"797c1ab8f59de950","name":"General var","func":"var riscaldamentoModo=flow.get('riscaldamentoModo');\nvar setPointManuale=flow.get('setPointManuale');\nflow.set(\"riscaldamentoModo\", 1);\nflow.set(\"setPointManuale\", 20);\nflow.set(\"statorele\", 0);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":520,"wires":[[]]},{"id":"7a4b77032d7c22ad","type":"ui_text","z":"797c1ab8f59de950","group":"edd62308.5b6eb","order":3,"width":2,"height":1,"name":"Modo:","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":670,"y":580,"wires":[]},{"id":"f8341463edd4e198","type":"comment","z":"797c1ab8f59de950","name":"Relè caldaia","info":"","x":1550,"y":160,"wires":[]},{"id":"8d22819ea32a5275","type":"inject","z":"797c1ab8f59de950","name":"","props":[{"p":"time","v":"","vt":"date"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":70,"y":920,"wires":[["33227c27106112b3"]]},{"id":"4e76348501b0de5d","type":"link out","z":"797c1ab8f59de950","name":"setSettings","links":[],"x":855,"y":220,"wires":[]},{"id":"33227c27106112b3","type":"function","z":"797c1ab8f59de950","name":"","func":"let msg1 = {}; //switch \nlet msg2 = {}; //target temperature\nlet msg3 = {}; //Set setHysteresisPlus\nlet msg4 = {}; //Set setHysteresisMinus\nlet now = new Date(msg.time); // legge l'ora dal msg.time\nglobal.set(\"time\", now);\nlet setPointAuto\n\nlet riscaldamentoModo = global.get(\"riscaldamentoModo\");\n//let condizionamentoModo = global.get(\"condizionamentoModo\");\nlet setPointManuale = global.get(\"setPointManuale\");\nlet tempCurrent = global.get(\"tempCurrent\");\n\n// Rimuovi tutto ciò che non è un numero o un separatore decimale\nlet tempNumber = parseFloat(tempCurrent.replace(',', '.').replace(/[^0-9.-]/g, ''));\n\n//let timing = global.get(\"timing\");\nlet timing = context.global.timing\n\n//Lettura setpoint in base alla data/ora\nsetPointAuto = timing[(now.getDay() * 24) + now.getHours() ];\nglobal.set(\"setPointAuto\", setPointAuto);\n\n// Payload per il termostato riscaldamento\nif (riscaldamentoModo == 1) {   //auto\n    msg1.topic = \"setCurrent\" // Topic per valore di temperatura attuale\n    msg1.payload = tempNumber // Valore di temperatura rilevato dal sensore\n    msg2.topic = \"setTarget\" // Topic per valore di temperatura programmato\n    msg2.payload = setPointAuto // Valore di temperatura previsto dalla programmazione\n    msg3.topic = \"setHysteresisPlus\"\n    msg3.payload = 0.1\n    msg4.topic = \"setHysteresisMinus\"\n    msg4.payload = 0.2\n    return [msg1, msg2, msg3, msg4];\n}\nelse if (riscaldamentoModo == 2) { //Disattivo\n    msg1.topic = \"setCurrent\"\n    msg1.payload = tempNumber // Valore di temperatura rilevato dal sensore\n    msg2.topic = \"setTarget\" // Topic per valore di temperatura programmato\n    msg2.payload = tempNumber // Valore di temperatura setpoint uguale alla temperatura corrente\n    msg3.topic = \"setHysteresisPlus\"\n    msg3.payload = 0\n    msg4.topic = \"setHysteresisMinus\"\n    msg4.payload = 0\n    return [msg1, msg2, msg3, msg4];\n}\nelse if (riscaldamentoModo == 3) { //Manuale\n    msg1.topic = \"setCurrent\"\n    msg1.payload = tempNumber // Valore di temperatura rilevato dal sensore\n    msg2.topic = \"setTarget\" // Topic per valore di temperatura programmato\n    msg2.payload = setPointManuale // Valore di temperatura previsto dalla programmazione\n    msg3.topic = \"setHysteresisPlus\"\n    msg3.payload = 0.1\n    msg4.topic = \"setHysteresisMinus\"\n    msg4.payload = 0.2\n    return [msg1, msg2, msg3, msg4];\n}\n//node.status({ fill: \"green\", shape: \"dot\", text: riscaldamentoModo + \" SPA:\" + setPointAuto + \" SPM:\" + setPointManuale });\n","outputs":4,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":920,"wires":[["96ccccad3ceb3a0a"],["96ccccad3ceb3a0a","3ee4b54c72a5a77b"],["96ccccad3ceb3a0a"],["96ccccad3ceb3a0a"]]},{"id":"96ccccad3ceb3a0a","type":"ramp-thermostat","z":"797c1ab8f59de950","name":"","profile":"29361ffb5398d62e","hysteresisplus":"0.1","hysteresisminus":"0.1","x":430,"y":920,"wires":[["43775e415e2e7869","9e4b887668fb7f2b"],["2a15bc2e698c853f","8c4750ea5bf6dbf3"],[]]},{"id":"dabb58d6e56274be","type":"function","z":"797c1ab8f59de950","name":"Controllo Tipo","func":"if (msg.payload == 1) {\n    msg.payload = \"AUTO\"\n}\nelse if (msg.payload == 2) {\n    msg.payload = \"DIS\"\n}\nelse if (msg.payload == 3) {\n    msg.payload = \"MAN\"\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":580,"wires":[["7a4b77032d7c22ad"]]},{"id":"8c4750ea5bf6dbf3","type":"ui_gauge","z":"797c1ab8f59de950","name":"Gauge","group":"edd62308.5b6eb","order":6,"width":"6","height":"3","gtype":"gage","title":"Corridoio","label":"°C","format":"{{msg.payload| number:1}} °C","min":"15","max":"30","colors":["#162ee3","#01ef50","#ca3838"],"seg1":"18","seg2":"25","diff":false,"className":"","x":630,"y":960,"wires":[]},{"id":"43775e415e2e7869","type":"function","z":"797c1ab8f59de950","name":"function 6","func":"// Nodo Funzione Node-RED\n\n// Variabili globali da utilizzare\nlet riscaldamentoModo = global.get('riscaldamentoModo') || 2; // Modalità riscaldamento automatico (1) o manuale (3) o disabilitato (2)\nlet riscaldamentoHvAC = global.get('riscaldamentoHvAC') || 0; // Modalità riscaldamento HVAC 0=GAS ONLY, 1=GAS+ENE\nlet setPointAuto = global.get('setPointAuto') || 20; // Setpoint automatico\nlet setPointManuale = global.get('setPointManuale') || 22; // Setpoint manuale\nlet ore = global.get(\"setOre\") //ora di Roma con cambio ora legale automatico\nlet hvacMode = global.get('hvacMode') || 1; // Modo di funzionamento del condizionamento 1 Inverno, 2 Estate\n\n// Stato attuale dei dispositivi\nlet statoCond1 = global.get('statoCond1') || \"OFF\";\nlet statoCond2 = global.get('statoCond2') || \"OFF\";\nlet statoCond3 = global.get('statoCond3') || \"OFF\";\nlet statoCond4 = global.get('statoCond4') || \"OFF\";\nlet statoCaldaia = global.get('statoCaldaia') || \"OFF\";\n\n// Input dal messaggio\nconst consenso = msg.payload === true; // Consenso del cronotermostato\n\n// Calcolo degli stati degli output\nlet outputCond1 = null;\nlet outputCond2 = null;\nlet outputCond3 = null;\nlet outputCond4 = null;\nlet outputCaldaia = null;\nlet outputSetPoint = null;\n\n// Logica per i condizionatori (out1, out2, out3, out4)\nif (riscaldamentoHvAC == 1 && riscaldamentoModo != 2 && consenso && setPointAuto != 18) {\n    if (statoCond1 !== \"ON\") {\n        outputCond1 = { payload: \"ON\" };\n    }\n    if (statoCond2 !== \"ON\") {\n        outputCond2 = { payload: \"ON\" };\n    }\n    if (statoCond3 !== \"ON\") {\n        outputCond3 = { payload: \"ON\" };\n    }\n    if (statoCond4 !== \"ON\") {\n        outputCond4 = { payload: \"ON\" };\n    }\n}\nelse if (ore > 23 && hvacMode == 1 ) { //se dopo 23 e se la modalità dei condizionatori è inverno\n    if (statoCond1 !== \"OFF\") {\n        outputCond1 = { payload: \"OFF\" };\n    }\n    if (statoCond2 !== \"OFF\") {\n        outputCond2 = { payload: \"OFF\" };\n    }\n    if (statoCond3 !== \"OFF\") {\n        outputCond3 = { payload: \"OFF\" };\n    }\n    if (statoCond4 !== \"OFF\") {\n        outputCond4 = { payload: \"OFF\" };\n    }\n}\n\n// Logica per la caldaia (out5)\nif (riscaldamentoModo != 2 && consenso) {\n    if (statoCaldaia !== \"ON\") {\n        outputCaldaia = { payload: \"ON\" };\n    }\n} else {\n    if (statoCaldaia !== \"OFF\") {\n        outputCaldaia = { payload: \"OFF\" };\n    }\n}\n\n// Logica per il setpoint (out6)\nif (consenso) {\n    if (riscaldamentoModo == 1) {\n        outputSetPoint = { payload: setPointAuto };\n    } else if (riscaldamentoModo == 3) {\n        outputSetPoint = { payload: setPointManuale };\n    } else {\n        outputSetPoint = { payload: null };\n    }\n}\n\nnode.status({ fill: \"red\", shape: \"dot\", text: \"consenso \" + consenso + \" riscaldamentoHvAC: \" + riscaldamentoHvAC + \" riscaldamentoModo \" + riscaldamentoModo});\n\n// Invio degli output\nreturn [outputCond1, outputCond2, outputCond3, outputCond4, outputCaldaia, outputSetPoint];","outputs":6,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":920,"wires":[["d0a6c8d160292037"],["935b6b69256b88a5"],["c0a4e13be8d75fcb"],["9a29d42cc077d4b0"],["df2e4c078e2b8860","bc4c3c82c95b342b"],["78dcc3042da10b3d","aa8199a76e279b5d"]]},{"id":"9e4b887668fb7f2b","type":"debug","z":"797c1ab8f59de950","name":"debug 25","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":840,"wires":[]},{"id":"78dcc3042da10b3d","type":"rbe","z":"797c1ab8f59de950","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":750,"y":1080,"wires":[["7e7d2fd1f829e36a","47e15a0fc69cc4c0","3fb679831a2cd0f5","7acd485f561aca3d","8bbe883860e3de7e","aa8199a76e279b5d"]]},{"id":"aa8199a76e279b5d","type":"debug","z":"797c1ab8f59de950","name":"debug 26","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":1140,"wires":[]},{"id":"69494c2e831f1fbf","type":"openhab4-in","z":"797c1ab8f59de950","name":"","controller":"c4421eb9d76916ca","itemname":"Riscaldamento_Modo","x":190,"y":580,"wires":[["dabb58d6e56274be"],[]]},{"id":"3ee4b54c72a5a77b","type":"openhab4-out","z":"797c1ab8f59de950","name":"","controller":"c4421eb9d76916ca","itemname":"Riscaldamento_Auto_SP","topic":"ItemUpdate","payload":"","x":430,"y":780,"wires":[[]]},{"id":"d0a6c8d160292037","type":"openhab4-out","z":"797c1ab8f59de950","name":"","controller":"c4421eb9d76916ca","itemname":"DaikinACUnit_Power_Cameretta","topic":"ItemCommand","payload":"","x":1250,"y":460,"wires":[[]]},{"id":"935b6b69256b88a5","type":"openhab4-out","z":"797c1ab8f59de950","name":"","controller":"c4421eb9d76916ca","itemname":"DaikinACUnit_Power_Letto","topic":"ItemCommand","payload":"","x":1310,"y":520,"wires":[[]]},{"id":"c0a4e13be8d75fcb","type":"openhab4-out","z":"797c1ab8f59de950","name":"","controller":"c4421eb9d76916ca","itemname":"DaikinACUnit_Power_Soggiorno","topic":"ItemCommand","payload":"","x":1310,"y":600,"wires":[[]]},{"id":"9a29d42cc077d4b0","type":"openhab4-out","z":"797c1ab8f59de950","name":"","controller":"c4421eb9d76916ca","itemname":"DaikinACUnit_Power_Studio","topic":"ItemCommand","payload":"","x":1320,"y":660,"wires":[[]]},{"id":"bc4c3c82c95b342b","type":"openhab4-out","z":"797c1ab8f59de950","name":"Caldaia","controller":"c4421eb9d76916ca","itemname":"FGS221_002_SwitchBinary2","topic":"ItemUpdate","payload":"","x":1280,"y":720,"wires":[[]]},{"id":"47e15a0fc69cc4c0","type":"openhab4-out","z":"797c1ab8f59de950","name":"","controller":"c4421eb9d76916ca","itemname":"DaikinACUnit_SetPoint_Cameretta","topic":"ItemCommand","payload":"","x":1180,"y":880,"wires":[[]]},{"id":"3fb679831a2cd0f5","type":"openhab4-out","z":"797c1ab8f59de950","name":"","controller":"c4421eb9d76916ca","itemname":"DaikinACUnit_SetPoint_Letto","topic":"ItemCommand","payload":"","x":1160,"y":940,"wires":[[]]},{"id":"7acd485f561aca3d","type":"openhab4-out","z":"797c1ab8f59de950","name":"","controller":"c4421eb9d76916ca","itemname":"DaikinACUnit_SetPoint_Soggiorno","topic":"ItemCommand","payload":"","x":1180,"y":1020,"wires":[[]]},{"id":"8bbe883860e3de7e","type":"openhab4-out","z":"797c1ab8f59de950","name":"","controller":"c4421eb9d76916ca","itemname":"DaikinACUnit_SetPoint_Studio","topic":"ItemCommand","payload":"","x":1160,"y":1080,"wires":[[]]},{"id":"edd62308.5b6eb","type":"ui_group","name":"Termosifoni","tab":"8eef0cc0.5b1bf","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"29361ffb5398d62e","type":"profile","name":"Casa","time1":"00:00","temp1":"10","time2":"23:59","temp2":"10","time3":"","temp3":"","time4":"","temp4":"","time5":"","temp5":"","time6":"","temp6":"","time7":"","temp7":"","time8":"","temp8":"","time9":"","temp9":"","time10":"","temp10":""},{"id":"c4421eb9d76916ca","type":"openhab4-controller","name":"CM4HOME","protocol":"http","allowSelfSigned":false,"host":"localhost","port":8080,"path":""},{"id":"8eef0cc0.5b1bf","type":"ui_tab","name":"Termosifoni","icon":"dashboard","disabled":false,"hidden":false},{"id":"556a79d9f583f46c","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6","node-red-contrib-ramp-thermostat":"0.8.3","@essenius/node-red-openhab4":"0.9.5"}}]