nodered/Variabili202508.json
[{"id":"12045cd3287d8a9f","type":"tab","label":"Variabili globali","disabled":false,"info":"","env":[]},{"id":"383bc60af38b94d5","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"tempCurrent","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":180,"wires":[[]]},{"id":"a96b7091c9ed4570","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"statoCaldaia","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":300,"wires":[[]]},{"id":"87b47c3dc55ba3f0","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"setPointManuale","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":120,"wires":[[]]},{"id":"1ad7f7454a79a4a7","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"riscaldamentoModo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":500,"wires":[[]]},{"id":"ac4fd5d7bab04ec2","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"statoAntifurto","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":700,"wires":[[]]},{"id":"9cd57367b47e545f","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"hvacMode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":760,"wires":[[]]},{"id":"2625e94e076bec33","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"hvacWinterMode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":820,"wires":[[]]},{"id":"0591a4d1107686a5","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"hvacSPWManual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1000,"wires":[[]]},{"id":"2f58e115a2885fe5","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"gSwCondPower","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1060,"wires":[[]]},{"id":"75eb6d689f680f3f","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"riscaldamentoHvAC","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":560,"wires":[[]]},{"id":"3e8c26548d27cff6","type":"bigtimer","z":"12045cd3287d8a9f","outtopic":"","outpayload1":"1","outpayload2":"0","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":"300","endtime":"420","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"1","outtext2":"0","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":520,"y":620,"wires":[[],["40bb95a040e7d57b"],[]]},{"id":"40bb95a040e7d57b","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"svegliaCalda","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":620,"wires":[[]]},{"id":"db81084ddae30510","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"hvacAway","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":880,"wires":[[]]},{"id":"a2a8d5cab70abd7d","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"hvacaway","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":940,"wires":[[]]},{"id":"f371eb169aabd774","type":"function","z":"12045cd3287d8a9f","name":"Ricava ora","func":"// Ottieni la data e l'ora corrente\nlet currentDate = new Date();\n\n// Calcola il fuso orario di Roma\nlet offset = currentDate.getTimezoneOffset(); // Differenza UTC in minuti\nlet romeTime = new Date(currentDate.getTime() + offset * 60000 + 3600000); // CET (UTC+1)\n\n// Aggiusta per l'ora legale (CEST)\nlet isDST = romeTime.getMonth() > 2 && romeTime.getMonth() < 10 && \n            (romeTime.getMonth() > 2 || (romeTime.getMonth() === 2 && romeTime.getDate() - romeTime.getDay() >= 25)) && \n            (romeTime.getMonth() < 9 || (romeTime.getMonth() === 9 && romeTime.getDate() - romeTime.getDay() < 25));\nif (isDST) {\n    romeTime = new Date(romeTime.getTime() + 3600000); // CEST (UTC+2)\n}\n\n// Estrai solo le ore\nlet currentHour = romeTime.getHours();\n\n// Output\nmsg.payload = currentHour;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":60,"wires":[["adf6b676a408a8e1"]]},{"id":"8ecc119e9baa58ad","type":"inject","z":"12045cd3287d8a9f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":450,"y":60,"wires":[["f371eb169aabd774"]]},{"id":"adf6b676a408a8e1","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"setOre","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":60,"wires":[[]]},{"id":"45d148b0d28eaac5","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"statoCond1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1160,"wires":[[]]},{"id":"8789fa4250f6fe77","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"statoCond2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1220,"wires":[[]]},{"id":"2377582bac9e2a23","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"statoCond3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1280,"wires":[[]]},{"id":"b68f2fe7a8cbc1ae","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"statoCond4","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1340,"wires":[[]]},{"id":"19cd81efa17a6468","type":"openhab4-in","z":"12045cd3287d8a9f","name":"","controller":"c4421eb9d76916ca","itemname":"Riscaldamento_Man_SP","x":380,"y":120,"wires":[["87b47c3dc55ba3f0"],[]]},{"id":"dbafc4cbfb7f3070","type":"openhab4-in","z":"12045cd3287d8a9f","name":"","controller":"c4421eb9d76916ca","itemname":"SonoOffT","x":430,"y":180,"wires":[["383bc60af38b94d5"],[]]},{"id":"70d7879d209015b5","type":"openhab4-in","z":"12045cd3287d8a9f","name":"","controller":"c4421eb9d76916ca","itemname":"FGS221_002_SwitchBinary2","x":510,"y":300,"wires":[["a96b7091c9ed4570"],[]]},{"id":"ff993bf61435e993","type":"openhab4-in","z":"12045cd3287d8a9f","name":"","controller":"c4421eb9d76916ca","itemname":"Riscaldamento_Modo","x":550,"y":440,"wires":[["1ad7f7454a79a4a7"],[]]},{"id":"5011b8e8d95b6d8f","type":"openhab4-in","z":"12045cd3287d8a9f","name":"","controller":"c4421eb9d76916ca","itemname":"Riscaldamento_HvAC","x":570,"y":520,"wires":[["75eb6d689f680f3f"],[]]},{"id":"d5626ccca5779c0c","type":"openhab4-in","z":"12045cd3287d8a9f","name":"","controller":"c4421eb9d76916ca","itemname":"DaikinACUnit_Power_Cameretta","x":620,"y":1120,"wires":[["45d148b0d28eaac5"],[]]},{"id":"6585dd266d9dc58e","type":"openhab4-in","z":"12045cd3287d8a9f","name":"","controller":"c4421eb9d76916ca","itemname":"DaikinACUnit_Power_Letto","x":590,"y":1180,"wires":[["8789fa4250f6fe77"],[]]},{"id":"6fa63480f6bfb732","type":"openhab4-in","z":"12045cd3287d8a9f","name":"","controller":"c4421eb9d76916ca","itemname":"DaikinACUnit_Power_Soggiorno","x":580,"y":1260,"wires":[["2377582bac9e2a23"],[]]},{"id":"e04ae1e08fa7fc3f","type":"openhab4-in","z":"12045cd3287d8a9f","name":"","controller":"c4421eb9d76916ca","itemname":"DaikinACUnit_Power_Studio","x":570,"y":1320,"wires":[["b68f2fe7a8cbc1ae"],[]]},{"id":"c4421eb9d76916ca","type":"openhab4-controller","name":"CM4HOME","protocol":"http","allowSelfSigned":false,"host":"localhost","port":8080,"path":""},{"id":"de05c560c38a1f8c","type":"global-config","env":[],"modules":{"node-red-contrib-bigtimer":"2.8.6","@essenius/node-red-openhab4":"0.9.5"}}]